In [254]:
import bs4 as bs
import urllib.request

In [317]:
import pandas as pd
dfs = pd.read_html("https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M")

In [318]:
df = dfs[0]

In [319]:
#Only process the cells that have an assigned borough. Ignore cells with a borough that is Not assigned.
l = []
for i in range(len(df)):
    if df.iloc[i]['Borough'] == 'Not assigned':
        l.append(i)
df = df.drop(l)
df.reset_index(inplace = True)
df = df.drop('index', axis = 1)

In [320]:
df

    Postcode           Borough              Neighborhood
0        M3A        North York                 Parkwoods
1        M4A        North York          Victoria Village
2        M5A  Downtown Toronto              Harbourfront
3        M6A        North York          Lawrence Heights
4        M6A        North York            Lawrence Manor
..       ...               ...                       ...
205      M8Z         Etobicoke  Kingsway Park South West
206      M8Z         Etobicoke                 Mimico NW
207      M8Z         Etobicoke        The Queensway West
208      M8Z         Etobicoke     Royal York South West
209      M8Z         Etobicoke            South of Bloor

[210 rows x 3 columns]

In [321]:
#If a cell has a borough but a Not assigned neighborhood, then the neighborhood will be the same as the borough
for i in range(len(df)):
    if df.iloc[i]['Neighborhood'] == 'Not assigned':
        df.iloc[i]['Neighborhood'] = df.iloc[i]['Borough']
df = df.sort_values(by=['Postcode'])
df.reset_index(inplace = True)
df = df.drop('index', axis = 1)

More than one neighborhood can exist in one postal code area. For example, in the table on the Wikipedia page, you will notice that M5A is listed twice and has two neighborhoods: Harbourfront and Regent Park. These two rows will be combined into one row with the neighborhoods separated with a comma as shown in row 11 in the above table.

In [322]:
for i in range(len(df)-1):
    if df.iloc[i+1]['Postcode'] == df.iloc[i]['Postcode']:
        df.iloc[i+1]['Neighborhood'] = df.iloc[i]['Neighborhood']+', ' +df.iloc[i+1]['Neighborhood']

In [323]:
df

    Postcode      Borough                                       Neighborhood
0        M1B  Scarborough                                              Rouge
1        M1B  Scarborough                                     Rouge, Malvern
2        M1C  Scarborough                                         Port Union
3        M1C  Scarborough                             Port Union, Rouge Hill
4        M1C  Scarborough             Port Union, Rouge Hill, Highland Creek
..       ...          ...                                                ...
205      M9V    Etobicoke  Albion Gardens, Beaumond Heights, Humbergate, ...
206      M9V    Etobicoke  Albion Gardens, Beaumond Heights, Humbergate, ...
207      M9V    Etobicoke  Albion Gardens, Beaumond Heights, Humbergate, ...
208      M9V    Etobicoke  Albion Gardens, Beaumond Heights, Humbergate, ...
209      M9W    Etobicoke                                          Northwest

[210 rows x 3 columns]

In [324]:
l = []
for i in range(len(df)-1):
    if df.iloc[i]['Postcode'] == df.iloc[i+1]['Postcode']:
        l.append(i)
df = df.drop(l)
df.reset_index(inplace = True)
df = df.drop('index', axis = 1)

In [325]:
df

    Postcode      Borough                                       Neighborhood
0        M1B  Scarborough                                     Rouge, Malvern
1        M1C  Scarborough             Port Union, Rouge Hill, Highland Creek
2        M1E  Scarborough                  Guildwood, Morningside, West Hill
3        M1G  Scarborough                                             Woburn
4        M1H  Scarborough                                          Cedarbrae
..       ...          ...                                                ...
98       M9N         York                                             Weston
99       M9P    Etobicoke                                          Westmount
100      M9R    Etobicoke  Richview Gardens, Kingsview Village, St. Phill...
101      M9V    Etobicoke  Albion Gardens, Beaumond Heights, Humbergate, ...
102      M9W    Etobicoke                                          Northwest

[103 rows x 3 columns]

In [326]:
df.shape

(103, 3)